<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    <%= htmlWebpackPlugin.options.title || '' %>
  </title>
  <link rel="dns-prefetch" href="//s3.meituan.net/">
  <link href="http://xs01.meituan.net/kui/1.0.41/css/@waimai/kangarooui.min.css" rel="stylesheet">
</head>

<body>
  <div class="header"></div>
  <div class="page-sidebar"></div>
  <div class="page-content container-fluid" id="page-content"></div>
</body>
</html>
